# Nuxt
.nuxt/
.output/
.data/
dist
dist/
/.output.txt

# Playwright
/test-results/
/playwright-report/data/
/playwright-report/

# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# IDE specific
/.idea/
.vscode/

# System files
.DS_Store

# Logs
*.log
