# Hugo
hugo-website/public/
hugo-website/resources/_gen/
hugo-website/.hugo_build.lock

# Nuxt
.nuxt/
.output/
.data/
dist/

# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# IDE specific
/.idea/
.vscode/

# System files
.DS_Store

# Logs
*.log
/dist/
